@model AplicacionWebNomina.Models.OrdenCompra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Idempleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Idempleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tienda.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tienda.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
